.spinner {
    visibility: visible;
    border-radius: 50%;
    border: 5px solid white;
    border-top: 5px solid black;
    width: 15px;
    height: 15px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


