.container{
   padding: 30px 50px;
   
   button{
        border-radius: 5px;
        margin-left: 5px;
        background-color: teal;
        cursor: pointer;
    }
   input{
       border-radius: 6px; 
   }
}
.pagination-wrapper{
    color: white;
}
.translate-row{
    display: flex;
    flex-direction: row;
    align-items: center;

    button{
        width: 30px;
        height: 30px;
    }
}