.user-wrapper {
    display: flex;
    padding: 5px 10px;
    margin: 20px 0px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: teal;
    cursor: pointer;
    
    img {
        width: 50px;
        border-radius: 100%;
        margin-right: 5px;
        
    }
}
.user-wrapper:hover{
    background-color:gainsboro;
}

